@font-face {
	font-family: 'fontello';
	src: url('font/fontello.eot');
	src: url('font/fontello.eot') format('embedded-opentype'),
	url('font/fontello.woff') format('woff'),
	url('font/fontello.ttf') format('truetype'),
	url('font/fontello.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  }

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

/* header */

header{
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}
header h1{
	font-size: 14px;
}
header .logo{
	width: 100%;
}

/* dates */
.dates{
	width: 100%;
	margin-bottom: 20px;
	background-color: white;
	padding: 10px 0;
}
.dates.fixed{
	position: fixed;
	top: 0;
	z-index: 997;
}
.dates.fixed ~ .courses{
	margin-top: 65px;
}
.dates ul{
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}
.dates li{

}
.dates li a{
	width: 100%;
	font-size: 12px;
	text-decoration: none;
	white-space: nowrap;
	color: black;
}

.dates li.current{
	border-bottom: 2px solid orange;
}

/* loader */

.loader{
	width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
	width: 80px;
	height: 80px;
	border: 10px solid orange;
	border-radius: 50%;
	border-top: 10px solid transparent;
	animation: loading 1s linear infinite;
}

@keyframes loading {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
/* course */
.courses{
	width: 100%;
	font-size: 14px;
}
.course_item{
	display: none;
	position: relative;
	width: 90%;
	height: 270px;
	margin: 0 auto;
	background-color: #f8f8f8;
	border-radius: 8px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 8px #e1e1e178;
}
.course_item::before{
	content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: -2px -2px 8px #e1e1e178;
    border-radius: 8px;
}
.course_item.current{
	display: block;
}
.course_item p{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-top: 10px;
}
.course_header{
	display: none;
}
.course_header.current{
	display: block;
	/* background-color: cornsilk; */
    width: 100%;
    padding: 40px 20px 0;
    /* border: 1px solid orange; */
    border-left: none;
    border-right: none;
    text-align: center;
    margin: 0 auto;
}
.course_header h1{
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 10px;
	padding: 0 15px;
	position: relative;
}
.course_header h1::before, .course_header p::after{
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	background-color: orange;
	
}
.course_header h1::before{
	width: 90%;
	top: -10px;
	left: calc(50% - 45%);
}
.course_header p::after{
	width: 90%;
	bottom: 0;
	left: calc(50% - 45%);
}
.course_header h1 span{
	font-size: .8em;
    color: gray;
}
.course_header p{
	position: relative;
	width: 100%;
	padding: 0 0 15px;
    text-align: justify;
}

.course_info_wrap{
	position: absolute;
	bottom: 10px;
	height: 130px;
	width: 90%;
}
.course_info{
	/* display: flex; */
	justify-content: space-around;
	width: 100%;
}
.course_info .date::before, .course_info .time::before, .course_info .place::before{
	content: '\e8d9';
    font-family: "fontello";
	margin-right: 5px;
}
.course_info .time::before{
	content: '\e8af';
}
.course_info .place::before{
	content: '\e8a7';
	font-size: 17px;
    margin-right: 8px;
    margin-left: 2px;
}
.course_btn_block{
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 20px;
}
.course_btn_block button{
	display: block;
	width: 50%;
	text-align: center;
	text-decoration: none;
	background-color: orange;
	border-radius: 8px;
	padding: 12px 0;
	color: white;
	font-weight: 600;
	outline: none;
	border: none;
}
.course_btn_block button::before{
	content: '\e890';
    font-family: "fontello";
	margin-right: 10px;
}
.course_btn_block button:hover{
	background-color: rgb(201, 131, 3);
}
.course_btn_block button.press{
	background-color: rgb(176, 115, 1) !important;
}
.course_btn_block button.press::before{
	content: '\e88f';
}
.course_btn_block button:disabled{
	background-color: #5c5b5b;
}
.course_btn_block button.gray, .course_btn_block button.be-speaker{
	width: 49%;
    padding: 15px 0;
    font-size: 11px;
}

.course_btn_block button.be-speaker.active{
	background-color: #039e03;
}
.course_btn_block span{
	position: relative;
	width: 50%;
	text-align: center;
	color: #5c5b5b;
	padding: 10px;
    border: 1px solid #ccc;
    border-bottom-color: #ffa50047;
    border-right-color: #ffa50047;
    box-shadow: 2px 2px 6px #ffa50047;
    margin-left: 5px;
	border-radius: 8px;
}
.course_btn_block span::before{
	content: '';
	display: block;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: -2px -2px 6px white;
    border-radius: 8px;
}
.count{
	position: absolute;
    right: 2px;
    bottom: 2px;
    font-size: 8px;
    color: #ccc;
}
.popup-info-wrap{
	display: none;
	position: fixed;
	top: 10px;
	left: 5px;
	right: 5px;
	bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	z-index: 999;
	background-color: white;
}
.popup-info-close{
	position: absolute;
	right: 12px;
	top: 15px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}
.popup-info-close span{
	width: 100%;
	height: 2px;
	background-color: transparent;

}
.popup-info-close span::before, .popup-info-close span::after{
	content: '';
	width: 100%;
	height: 2px;
	display: block;
	background-color: black;
	position: absolute;
	border-radius: 5px;
}
.popup-info-close span::before{
	transform: rotate(45deg);
	top: 10px;
}
.popup-info-close span::after{
	transform: rotate(135deg);	
	top: 10px;
}
.popup-info-wrap.active{
	display: block;
}

.popup-info{
	width: 100%;
	height: 100%;
	padding: 40px 15px 60px ;
	overflow-y: scroll;
}
.popup-info h1{
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 15px;
	padding: 0 15px;
}

.popup-info p, .popup-info span{
	padding: 0 15px;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 15px;
	text-align: justify;
}
.popup-info h2{
	text-align:left;
	font-size: 1.2em;
    margin: 10px;
}
.popup-info .info-card{
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.popup-info h3{
	font-size: 1rem;
	margin-bottom: 10px;
}
.popup-info .info-card img{
	width: 30%;
	margin: 0 auto;
	display: block;
	border-radius: 15px;
}
.popup-info div{
	text-align: center;
	margin-left: 10px;
}
.popup-info ul{
	list-style-type: disclosure-closed;
	padding-left: 30px;
}
.popup-info li{
	margin-bottom: 10px;
}


.popup-close-btn{
	position: absolute;
	left: calc(50% - 75px);
	bottom: 10px;
	display: block;
	width: 150px;
	text-align: center;
	text-decoration: none;
	background-color: orange;
	border-radius: 8px;
	padding: 10px 0;
	color: white;
	font-weight: 600;
}
.popup-close-btn:hover{
	background-color: rgb(201, 131, 3);
}
.no-scroll{
	overflow: hidden;
}
.mask{
	display: none;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 998;
}
.mask.active{
	display: block;
}

form{
	width: 100%;
    display: flex;
    flex-direction: column;
}

form input{
	padding: 7px 5px;
    margin: 6px 0;
}
form button{
	width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: orange;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 700;
}
form textarea{
	height: 100px;
    margin-top: 10px;
    padding: 10px;
}

.fin{
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: orange;
}